{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>My Project</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    </head>

    <body>
    {% block content %}{% endblock content %}
    </body>
</html>
