{% extends "base.html" %}

{% block content %}
<h3> Top 10 economical bowlers in 2015</h3>
<table>
    <tr>
        <th>Bowler</th>
        <th>Economy</th>
      </tr>

  {% for i in result %}
  
  <tr>
    <td>{{i.bowler}}</td>
    <td>{{i.economy}}</td>
  </tr>
   
  {% endfor %}
</table>
{% endblock content %}