{% extends "base.html" %}

{% block content %}
<h3>Extra runs conceded per team in the year 2016</h3>
  <table>
    <tr>
        <th>bowling_team</th>
        <th>extra_runs</th>
      </tr>

  {% for i in result %}
  
  <tr>
    <td>{{i.bowling_team}}</td>
    <td>{{i.extras}}</td>
  </tr>
   
  {% endfor %}
</table>
{% endblock content %}