{% extends "base.html" %}

{% block content %}
<h3>Number of matches played per year</h3>
  <table>
    <tr>
        <th>Season</th>
        <th>no_of_matches</th>
      </tr>

  {% for i in result %}
  
  <tr>
    <td>{{i.season}}</td>
    <td>{{i.no_of_matches}}</td>
  </tr>
   
  {% endfor %}
</table>
{% endblock content %}