{% extends "base.html" %}

{% block content %}
<h3>Number of matches won per team per year</h3>
  <table>
    <tr>
        <th>Season</th>
        <th>winner</th>
        <th>no_of_wins</th>
      </tr>

  {% for i in result %}
  
  <tr>
    <td>{{i.season}}</td>
    <td>{{i.winner}}</td>
    <td>{{i.no_of_wins}}</td>
  </tr>
   
  {% endfor %}
</table>
{% endblock content %}